<mat-toolbar color="primary">
  <button mat-button id="title-btn" routerLink="/"><img src="assets/trainingwheelslogomini.svg" alt="mini logo"></button>

  <button mat-button *ngIf="isLoggedIn" routerLink="/list">Home</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/personalnotes">Note Page</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="/archives">Weekly Archive</button>
  <button mat-button *ngIf="isAdmin" routerLink="/admin">Admin</button>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" routerLink="/register"
    *ngIf="!isLoggedIn">Register</button>
  <button mat-raised-button class="nav-btn" routerLink ="/login"
    *ngIf="!isLoggedIn">Login</button>
  <form (ngSubmit)="onLogoutClicked()">
    <button mat-raised-button class="nav-btn"
      *ngIf="isLoggedIn" type="submit">Logout</button>
  </form>
</mat-toolbar>
