.example-fill-remaining-space {
    flex: 1 1 auto;
}

.logo{
    border-width: 2;
    border-color: black;
}

.mat-toolbar{
    background-color: #406487;
    background-image: url("C:/Users/wande/Desktop/dev/trainingwheels/trainingwheelsangular/src/assets/images/leather.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #132584;
}

#title-btn {
    font-size: 110%;
}
