<mat-toolbar color="primary">
    <button mat-button id="title-btn" routerLink="/">Training Wheels</button>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button class="nav-btn" routerLink="/register"
      *ngIf="!isLoggedIn">Register</button>
    <button mat-raised-button class="nav-btn" routerLink ="/login"
      *ngIf="!isLoggedIn">Login</button>
    <button mat-raised-button class="nav-btn"
      *ngIf="isLoggedIn" type="logoutClicked">Logout</button>
  </mat-toolbar>