.mainlogo{
    width: 50%;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 30px;
}

.info{
    padding: 20px;
}

h3 {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: #000000;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}