<img src="assets/images/trainingwheelslogo.svg" alt="Training Wheels" class="mainlogo">
<div class="info">
<h3>Are you sick and tired of the same dinner of ramen and pizza rolls every night?  
  Do potential suitors find you repulsive?  Have you had it with Mom’s passive aggressive “you need to move out” lectures?  
  Well then, let me introduce you to Training Wheels.  Conceived by a young genius known as <a href="https://i.imgur.com/eE2rCMp.gif">Jay Jackson</a>, 
  Training Wheels is your casual guide to “adulting”.  Yes millennials, we made it just for you!</h3>  
<h3>Once you register an account and log in, select from a list of common adult 
  activities spread across five categories: Health and Wellness, Hygiene, Finance, Social, or Organization and Commitments. 
   Be overcome with instant gratification when you submit the activity and are presented with a pretty graph and increasing point total.  
   We heard your generation really likes incentives.</h3>  
<h3>If you want to be reminded of just how great of an adult you’ve been, Training Wheels archives activities for your viewing.  
  So, what are you waiting for slob? Take a shower, pay off those student loans, get some sleep, call your grandma, take out the trash, 
  and remember to log it all on Training Wheels!  Now which one of you wants to help me do my taxes?
</h3>
</div>