.titlesection{
    /* padding-left: 178px; */
    float: left;
}

.notespace{
    padding: 50px;
    padding-left: 100px;
    width: 50%;
    position: inline-block;
}

.textbox {
    width: 100%;
}

.container.error {
    margin: 4em 0 0 1em;
}