<p>
  home works!
</p>
<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<br />
<mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
<br />
<mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
<br />
<mat-form-field>
  <mat-select placeholder="Category" [(value)]="selected">
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{ category.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>You selected: {{selected}}</p>
<br />
<mat-form-field>
  <mat-select placeholder="Activity">
    <mat-option *ngFor="let activity of activities" [value]= "activity.value">
      {{ activity.viewValue }} 
    </mat-option>
  </mat-select>
</mat-form-field>
